<%- include ('partials/header'); -%>

<form>
  <h2>Signup</h2>
  <label for="email">Email </label>
  <input type="text" name="email" placeholder="Email" />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password" />
  <div class="password error"></div>
  <button>Signup</button>
</form>
<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    //get values form form
    const email = form.email.value;
    const password = form.password.value;
    console.log(email, password);
  });
</script>

<%- include ('partials/footer'); -%>
